* { 
    box-sizing: border-box
    }
    
    .typecontents_login { 
        color: black;
        font-size: 15px;
        padding: 15px; 
        width : 100%;
        border: none;
        border-bottom: 2px solid gray;
        margin: 5px auto 20px auto;
        background-color: #f2f5ff; 
    }
    
    input::placeholder {
        font-size: 20px;
    }
    
    .top{
        padding: 10px auto; 
        text-align: center; 
    }
    
    .typebutton_login { 
        width: 100%;
        color: aliceblue;
        background-color: dodgerblue;
        height: 50px;
        font-size: 20px;
        border-radius: 30px;
        font-weight: 700;
    }
    
    .container {
     padding: 10px;
    }